:root {
    --color-bg: black;
    --color-text: white;
    --color-shadow: rgba(255, 255, 255, 0.5);
    --color-alt-bg: hsl(180, 100%, 10%);

    --color-alt: hsl(180, 100%, 50%);
    --color-alt-text: black;

    --color-tonal: hsl(180, 100%, 85%);
    --color-tonal-text: black;
}